- content_for(:javascripts) do
  = javascript_include_tag 'timepickr/dist/ui.timepickr'
  = javascript_include_tag 'form_utils'
  = javascript_include_tag 'status'
- content_for(:stylesheets) do
  = stylesheet_link_tag 'status'
  = stylesheet_link_tag 'form'
  = stylesheet_link_tag 'timepickr/src/dist/ui.timepickr'

.statuswrap
  - form_for(@status) do |f|
    = f.error_messages
    .formlabel
      = f.label :message
    = f.text_area :message, :class => 'status', :onkeyup => 'calculate_characters()'
    #characters.normal
      140
    %p
      = render :partial => 'shared/go_live', :locals => {:object => @status, :f => f}
    %p
      = f.submit submit_text, :class => 'submit'
