%h1
  Listing statuses
%table
  %tr
    %th
      Campaign
    %th
      Message
    %th
      Creator
    %th
      Go live
  - @statuses.each do |status|
    %tr
      %td
        = h status.campaign_id
      %td
        = h status.message
      %td
        = h status.creator_id
      %td
        = h status.go_live
      %td
        = link_to 'Show', campaign_status_path(status)
      %td
        = link_to 'Edit', edit_campaign_status_path(status)
      %td
        = link_to 'Destroy', destroy_campaign_status_path(status), :confirm => 'Are you sure?', :method => :delete
%br
= link_to 'New status', new_campaign_status_path
