- content_for :stylesheets do
  = stylesheet_link_tag 'status'
.statuswrap
  .status
    = h @status.message
  .author
    by
    = link_to @status.creator.login, user_path(@status.creator)
  .go_live
    %b
      Go live:
    = h @status.go_live.strftime('%m/%d/%Y %I:%M%p') if @status.go_live
.quicklinks
  = link_to 'Edit', edit_status_path(@status)
  |
  = link_to 'Back', campaign_path(@campaign)
