<p>
  <b>Campaign:</b>
  <%=h @status.campaign_id %>
</p>

<p>
  <b>Message:</b>
  <%=h @status.message %>
</p>

<p>
  <b>Creator:</b>
  <%=h @status.creator_id %>
</p>

<p>
  <b>Go live:</b>
  <%=h @status.go_live %>
</p>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>