- content_for(:javascripts) do
  = javascript_include_tag 'km.timepicker'
  = javascript_include_tag 'jquery-ui-1.7.2.core.slider'
-content_for(:stylesheets) do
  = stylesheet_link_tag 'km.timepicker'

- form_for(@photo, :url => photo_path(@photo), :html => { :multipart => true }) do |f|
  = f.error_messages
  %p
    = f.label :image
    %br
    = f.file_field :image
  %p
    = f.label :caption
    %br
    = f.text_field :caption
  %p
    = f.label :tags
    %br
    = f.text_field :tags
  %p
    = f.label :permissions
    %br
    = f.text_field :permissions
  %p
    = f.label :optional_fields
    %br
    = f.text_field :optional_fields
  %p
    = f.label :go_live
    %br
    - if !@photo.go_live.nil?
      %input{:type => "text", :name => "go_live_date", :id => "go_live_date", :value => "#{@photo.go_live.strftime('%m/%d/%Y')}" }
      %input{:type => "text", :name => "go_live_time", :id => "go_live_time",         
:value => "#{@photo.go_live.strftime('%I:%M%p')}" }
    - else
      %input{:type => "text", :name => "go_live_date", :id => "go_live_date" }
      %input{:type => "text", :name => "go_live_time", :id => "go_live_time" }
  %p
    = f.submit submit_text
:javascript
  $(document).ready(function(){
  $.each($('input'), function(){
  if(/date/.test($(this).attr('id'))){
  $(this).datepicker();
  }
  if(/time/.test($(this).attr('id'))){
  $(this).kmTimepicker();
  }
  });
  });