- form_for(@photo, :url => photo_path(@photo), :html => { :multipart => true }) do |f|
  = f.error_messages
  %p
    = f.label :image
    %br
    = f.file_field :image
  %p
    = f.label :caption
    %br
    = f.text_field :caption
  %p
    = f.label :tags
    %br
    = f.text_field :tags
  %p
    = f.label :permissions
    %br
    = f.text_field :permissions
  %p
    = f.label :optional_fields
    %br
    = f.text_field :optional_fields
  %p
    = f.submit submit_text
