- content_for(:javascripts) do
  = javascript_include_tag 'jquery.utils.min'
  = javascript_include_tag 'form_utils'
- content_for(:stylesheets) do
  = stylesheet_link_tag 'form'
  = stylesheet_link_tag 'photo'
  = stylesheet_link_tag 'km.timepicker'

#photowrap
  - form_for(@photo, :url => photo_path(@photo), :html => { :multipart => true }) do |f|
    = f.error_messages
    .imageupload.formfieldwrapper
      = f.file_field :image, :class => 'formfield'
    .formlabel
      = f.label :title
    .formfieldwrapper
      = f.text_field :title, :class => 'formfield'
    .formlabel
      = f.label :caption
    .formfieldwrapper
      = f.text_field :caption, :class => 'formfield'
    .formlabel
      = f.label :tags
    .formfieldwrapper
      = f.text_field :tags, :class => 'formfield'
    .permissionslabel
      = f.label :permissions
    .permissionsboxes
      = render :partial => 'form_checkboxes', :locals => {:hash => Photo::PERMISSION_KEYS}
    .optionallabel
      = f.label :optional_fields
    %table.optionalfields
      %tr
        %td
          Safety Level
        %td
          = select_tag('optional_fields[safety_level]', options_from_hash(Photo::SAFETY_LEVEL))
      %tr
        %td
          Content Type
        %td
          = select_tag('optional_fields[content_type]', options_from_hash(Photo::CONTENT_TYPE))
      %tr
        %td
          Searchable?
        %td
          = select_tag('optional_fields[hidden]', options_from_hash(Photo::HIDDEN))
      
    = render :partial => 'shared/go_live', :locals => {:object => @photo, :f => f}
    %p
      = f.submit submit_text, :class => 'submit'