<p>
  <b>Caption:</b>
  <%=h @photo.caption %>
</p>

<p>
  <b>Tags:</b>
  <%=h @photo.tags %>
</p>

<p>
  <b>Permissions:</b>
  <%=h @photo.permissions %>
</p>

<p>
  <b>Optional fields:</b>
  <%=h @photo.optional_fields %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>