- content_for(:javascripts) do
  = javascript_include_tag 'jquery.utils.min'
  = javascript_include_tag 'markitup/jquery.markitup'
  = javascript_include_tag 'markitup/sets/markdown/set'
  = javascript_include_tag 'form_utils'
- content_for(:stylesheets) do
  = stylesheet_link_tag 'markitup/skins/markitup/style'
  = stylesheet_link_tag 'markitup/sets/markdown/style'
  = stylesheet_link_tag 'km.timepicker'

- form_for([@campaign, @post]) do |f|
  = f.error_messages
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :body
    %br
    = f.text_area :body
  %p
    = f.label :go_live
    %br
    - if !@post.go_live.nil?
      %input{:type => "text", :name => "go_live_date", :id => "go_live_date", :value => "#{@post.go_live.strftime('%m/%d/%Y')}" }
      %input{:type => "text", :name => "go_live_time", :id => "go_live_time",         
:value => "#{@post.go_live.strftime('%I:%M%p')}" }
    - else
      %input{:type => "text", :name => "go_live_date", :id => "go_live_date" }
      %input{:type => "text", :name => "go_live_time", :id => "go_live_time" }
  %p
    = f.label :tags
    %br
    = f.text_field :tags
  %p
    = f.label :private
    %br
    = f.check_box :private
  %p
    = f.submit submit_text