- content_for :stylesheets do
  = stylesheet_link_tag 'post'

.postwrap
  .title
    %h1
      = h @post.title + ((@post.private) ? " (Private)" : "")
    .author
      by      
      = h @post.creator.login
  .body
    = @post.rendered_body
  .go_live
    %b
      Go live:
    = h @post.go_live.strftime('%m/%d/%Y %I:%M%p') if @post.go_live
  .tags
    %b
      Tags:
    = h @post.tags
.quicklinks
  = link_to 'Edit', edit_campaign_post_path(@campaign, @post)
  |
  = link_to 'Back', campaign_path(@campaign)
