- content_for(:stylesheets) do
  = stylesheet_link_tag 'form'

.form
  - form_for(@campaign) do |f|
    = f.error_messages
    .formlabel
      = f.label :title
    .formfieldwrapper
      = f.text_field :title, :class => 'formfield'
    .fieldnote
      Example: Announcing Product Awesome
    .formlabel
      = f.label :start_date
    .formfield
      = f.text_field :start_date, :class => 'formfield'
    .formlabel
      = f.label :end_date
    .formfield
      = f.text_field :end_date, :class => 'formfield'
    - if request.xhr?
      %p
        %button{:onclick => "submit_campaign(); return false;", :class => 'formfield submit'}
          = submit_text
      %p
        %a{:href => campaign_path(@campaign)}
          View campaign details
    - else
      %p
        = f.submit submit_text, :class => 'submit formfield'
:javascript
  $(document).ready(function(){
  $.each($('input'), function(){
  if(/date/.test($(this).attr('id'))){
  $(this).datepicker();
  }
  });
  });