%tr
  %td
    = link_to image_tag(photo.image.url(:thumb)), photo
    %br
    = h photo.caption
  %td
    = h photo.creator.login
  %td
    = h photo.go_live.strftime('%m/%d/%Y %I:%M%p') if photo.go_live
  %td
    = h photo.sent
  %td
    = link_to 'Edit', edit_photo_path(photo)
    |
    = link_to 'Delete', photo, :confirm => 'Are you sure?', :method => :delete