%tr
  %td
    = link_to status.message[0,50] + ((status.message.size >= 50) ? "..." : ""), campaign_status_path(status)
  %td
    = h status.creator.login
  %td
    = h status.go_live.strftime('%m/%d/%Y %I:%M%p') if status.go_live
  %td
    = h status.sent
  %td
    = link_to 'Edit', edit_campaign_status_path(status)
    |
    = link_to 'Delete', destroy_campaign_status_path(status), :confirm => 'Are you sure?', :method => :delete