%h1
  Manage Campaigns
%table.listtable
  %tr
    %th
    %th
      Start
    %th
      End
  - alternate = true
  - @campaigns.each do |campaign|
    - alternate = !alternate
    %tr{:class => (alternate) ? 'alternate' : 'regular'}
      %td
        = link_to campaign.title, campaign
      %td
        = h campaign.start_date
      %td
        = h campaign.end_date
      %td
        = link_to 'Edit', edit_campaign_path(campaign)
      %td
        = link_to 'Delete', campaign, :confirm => 'Are you sure?', :method => :delete
.quicklinks
  = link_to '+ New campaign', new_campaign_path
