%h1
  Listing campaigns
%table
  %tr
    %th
      Title
    %th
      Start date
    %th
      End date
  - @campaigns.each do |campaign|
    %tr
      %td
        = h campaign.title
      %td
        = h campaign.start_date
      %td
        = h campaign.end_date
      %td
        = link_to 'Show', campaign
      %td
        = link_to 'Edit', edit_campaign_path(campaign)
      %td
        = link_to 'Destroy', campaign, :confirm => 'Are you sure?', :method => :delete
%br
= link_to 'New campaign', new_campaign_path
