- content_for :stylesheets do
  = stylesheet_link_tag 'campaign'
- content_for :javascripts do
  - if request.referer
    -  index = get_index
  = javascript_tag "var index = #{index}"
  = javascript_include_tag 'campaign'
%h1
  = h @campaign.title
.dates
  = h @campaign.start_date
  \--
  = h @campaign.end_date
#contentgroup
  %h3
    Status Messages
  .content
    %table.contenttable
      %tr
        %th
          Message
        %th
          Creator
        %th
          Live Date
        %th
          Published?
        %th
          
      = render :partial => 'status', :collection => @campaign.statuses
    .quicklinks
      = link_to '+ Write New Status Message', new_campaign_status_path(@campaign)
  %h3
    Blog Posts
  .content
    %table.contenttable
      %tr.top
        %th
          Title
        %th
          Creator
        %th
          Live Date
        %th
          Published?
        %th
      = render :partial => 'post', :collection => @campaign.posts
    .quicklinks
      = link_to '+ Write New Blog Post', new_campaign_post_path(@campaign)
  %h3
    Photos
  .content
    %table.contenttable
      %tr
        %th
          Photo
        %th
          Creator
        %th
          Live Date
        %th
          Published?
        %th
      = render :partial => 'photo', :collection => @campaign.photos
    .quicklinks
      = link_to '+ Upload New Photo', new_campaign_photo_path
    

.quicklinks
  = link_to 'Edit', edit_campaign_path(@campaign)
  |
  = link_to 'Back', campaigns_path
